<!doctype html>


<head><title>TODO</title>
    <meta charset=utf-8>
    
</head>
<body>
<br>
    <form action="/submit" method="POST">
        
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password">
    
    <button><a>Login</a></button><br>
    <br>

    
    <form action="/submit" method="POST">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <label for="password">Enter new Password:</label>
        <input type="text" id="password" name="password">
        <label for="password">Re type Password:</label>
        <input type="text" id="password" name="password">
    
    <button><a>Sign Up</a></button><br>
    <br>


</form>


</body>