<!doctype html>

<head>
    <title>Sign Up Page</title>
    <meta charset=utf-8>

</head>



<h1>This is the Sign Up Page</h1>
<br>


<form method="POST">

    <label for="email">Email Address</label>
    <input type="email" id="email" name="email"><br><br>
    <label for="password1">Password:</label>
    <input type="text" id="password1" name="password1"><br><br>
    <label for="password2">Confirm Password:</label>
    <input type="text" id="password2" name="password2"><br><br>
    <button type="submit"><a>Submit</a></button><br>
    <br>

</form>


</body>