<!doctype html>

<head>
    <title>Sign Up Page</title>
    <meta charset=utf-8>

</head>



<h1>This is the Change Password Page</h1>
<br>


<form action="/submit" method="POST">

    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>

    <label for="password">Enter Old Password:</label>
    <input type="text" id="password" name="password"><br><br>

    <label for="password">Enter New Password:</label>
    <input type="text" id="password" name="password"><br><br>

    <label for="password">Re Enter Password:</label>
    <input type="text" id="password" name="password"><br><br>

    <button><a>Send</a></button><br>

</form>


</body>